/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family:var(--second-font);
  color: var(--title-color); 
}

* {
  box-sizing: border-box;
}

/* Home Section */
.home {
  display: grid;
  grid-template-columns: 4.32fr 7.68fr;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

.home_img {
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 8 hsla(0, 0%, 0%, 0.3);
  z-index: 1;
}

.home_data {
  max-width: 600px;
  margin-inline: auto;
  padding-top: 20px;
}

.home_title {
  position: relative;
  font-size: 49px;
  padding-left: 70px;
  line-height: 1.24;
}

.home_title span {
  color: var(--first-color);
}

.home_title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 22%;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--first-color);
}

.home_description {
  line-height: 2.125;
  margin-block: 16px 32px;
  color: var(--text-color);
}

/* Color Block */
.color_block {
  position: fixed;
  height: 200%;
  width: 100%;
  background-color: var(--first-color);
  top: -50%;
  left: -83%;
  transform: rotate(-15deg);
}

/* Media Query for Small Screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  /* Hide the color block on small screens */
  .color_block {
    display: none;
  }

  /* Make the image circular and center it */
  .home_img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center top; /* Adjust this to focus on the face */
      margin: 0 auto;
      box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
  }
  

  /* Stack the home section content vertically */
  .home {
      display: flex;
      flex-direction: column; /* Stack items */
      align-items: center; /* Center horizontally */
      justify-content: center; /* Center vertically */
    }
    

  /* Center the home data content */
  .home_data {
    text-align: center; /* Center text */
  }

  /* Adjust home title styling */
  .home_title {
    font-size: 36px; /* Adjust font size for smaller screens */
    padding-left: 0; /* Remove left padding */
    text-align: center; /* Center title text */
  }

  .home_title::before {display: none;}
  /* Adjust description font size and margins */
  .home_description {
    font-size: 1rem; /* Adjust description font size */
    line-height: 1.5; /* Adjust line height */
    margin-block: 10px 20px; /* Adjust margin for description */
  }
}

/* Color Block (Large Screen) */
@media screen and (min-width: 769px) {
  .color_block {
    display: block;
  }
  /* .home_title::before {display: none;} */
}

.typewriter {
  font-weight: bold;
  font-size:45px;
  color: #2c3e50;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 45px;
  color: #2c3e50;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
