/* Navbar Menu */
.nav_menu {
    background-color: var(--container-color);
    position: fixed;
    inset-block: 0;
    left: -100%;
    width: 100%;
    padding: 60px 30px;
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 9999; /* Ensure navbar stays on top */
}

.show-menu {
    left: 0;
}

/* Navbar Links */
.nav_link {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    column-gap: 24px;
    border-bottom: 1px solid var(--border-color);
    padding-block: 14px;
}

.nav_link,
.nav_name {
    color: var(--title-color);
    font-size: 24px;
}

.nav_name {
    font-weight: var(--weight-500);
}

.active-nav,
.nav_link,
.active-nav .nav_name {
    color: var(--first-color);
}

/* Navbar Toggle */
.nav_toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--container-color);
    padding: 12px 10px;
    z-index: 10000; /* Ensure toggle button is always on top */
}

.nav_toggle span {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--title-color);
    margin-bottom: 5px;
}

.animated-toggle span:first-child {
    transform: rotate(45deg) translate(6px, 4px);
}

.animated-toggle span:nth-child(2) {
    display: none;
}

.animated-toggle span:last-child {
    transform: rotate(-45deg) translate(1px, 1px);
}

/* Desktop View */
@media screen and (min-width: 1024px) {
    .nav_menu {
        all: unset;
    }

    .nav_toggle {
        display: none;
    }

    .nav {
        position: fixed;
        inset-block: 0;
        right: 30px;
        display: flex;
        align-items: center; /* Centers items vertically */
    }

    .nav_item {
        margin-block: 20px;
        display: flex; /* Ensures children are flex items */
        justify-content: center; /* Centers items horizontally */
    }

    .nav_link {
        display: flex;
        justify-content: center; /* Centers icon horizontally */
        align-items: center; /* Centers icon vertically */
        padding: 0;
        border-bottom: none;
        background-color: var(--container-color);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        font-size: 20px;
        margin-inline: auto;
    }

    .nav_name {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--first-color);
        height: 100%;
        line-height: 50px;
        padding-inline: 30px 25px;
        border-radius: 30px;
        font-size: var(--small-font-size);
        color: var(--text-white);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all 0.3s ease;
    }

    .nav_link:hover,
    .active-nav {
        background-color: var(--first-color);
    }

    .nav_link:hover,
    .active-nav {
        color: var(--text-white);
    }
}

.nav_link:hover .nav_name {
    color: var(--text-white);
    opacity: 1;
    visibility: visible;
    border-radius: 30px 0 0 30px;
    right: 27px;
}

/* Mobile View */
@media screen and (max-width: 1024px) {
    .nav_menu {
        padding: 60px 15px;
    }

    .nav_toggle {
        display: block;
    }
}
